{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "plugin:prettier/recommended"],
  "globals": {
    "module": true
    // "__dirname": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
  // "rules": {
    // "semi": ["error", "never"],
    // "quotes": ["error", "single"]
  // }
}
